<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscaminas!</title>
</head>
<body>
    <h1>Bienvenido al buscaminas!</h1>
<h3>Selecciona un nivel:</h3>
<ul>
    <li><a href="play/1" title="Jugar en nivel 1">Nivel 1</a></li>
    <li><a href="play/2" title="Jugar en nivel 2">Nivel 2</a></li>
    <li><a href="play/3" title="Jugar en nivel 3">Nivel 3</a></li>
    <li><a href="play/4" title="Jugar en nivel 4">Nivel 4</a></li>
    <li><a href="play/5" title="Jugar en nivel 5">Nivel 5</a></li>
    <li><a href="play/6" title="Jugar en nivel 6">Nivel 6</a></li>
    <li><a href="play/7" title="Jugar en nivel 7">Nivel 7</a></li>
    <li><a href="play/8" title="Jugar en nivel 8">Nivel 8</a></li>
    <li><a href="play/9" title="Jugar en nivel 9">Nivel 9</a></li>
    <li><a href="play/10" title="Jugar en nivel 10">Nivel 10</a></li>
</ul>

</body>
</html>