<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscaminas!</title>
</head>
<body>
    <h1>Bienvenido al buscaminas!</h1>
<h3>Selecciona un nivel:</h3>
<ul>
    <li><a href="play/1" title="Jugar en nivel 1">Nivel 1</a></li>
    <li><a href="play/2" title="Jugar en nivel 2">Nivel 2</a></li>
    <li><a href="play/3" title="Jugar en nivel 3">Nivel 3</a></li>
    <li><a href="play/4" title="Jugar en nivel 4">Nivel 4</a></li>
    <li><a href="play/5" title="Jugar en nivel 5">Nivel 5</a></li>
</ul>

</body>
</html>